In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
import scipy.stats as st
import flask as Flask
import sqlalchemy

In [21]:
# Read in csv file and display data
pollution = pd.read_csv("data\global air pollutiondataset.csv")
pollution.head()

,City_ID,Country,City,AQI_Value,AQI_Category,CO_AQI_Value,CO_AQI_Category,Ozone_AQI_Value,Ozone_AQI_Category,NO2_AQI_Value,NO2_AQI_Category,PM2.5_AQI_Value,PM2.5_AQI_Category
0,1,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,5,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [22]:
# summary of the global air pollution dataset
pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23463 entries, 0 to 23462
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   City_ID             23463 non-null  int64
 1   Country             23036 non-null  object
 2   City                23462 non-null  object
 3   AQI_Value           23463 non-null  int64
 4   AQI_Category        23463 non-null  object
 5   CO_AQI_Value        23463 non-null  int64
 6   CO_AQI_Category     23463 non-null  object
 7   Ozone_AQI_Value     23463 non-null  int64
 8   Ozone_AQI_Category  23463 non-null  object
 9   NO2_AQI_Value       23463 non-null  int64
 10  NO2_AQI_Category    23463 non-null  object
 11  PM2.5_AQI_Value     23463 non-null  int64
 12  PM2.5_AQI_Category  23463 non-null  object
dtypes: int64(6), object(7)
memory usage: 2.3+ MB

In [23]:
# See all the countries
country = pollution["Country"].unique()
print(country)

['Russian Federation' 'Brazil' 'Italy' 'Poland' 'France'
 'United States of America' 'Germany' 'Belgium' 'Egypt' 'China'
 'Netherlands' 'India' 'Pakistan' 'Republic of North Macedonia' 'Colombia'
 'Romania' 'Indonesia' 'Finland' 'South Africa'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'Haiti' 'Somalia' 'Philippines' 'Latvia'
 'Chad' 'New Zealand' 'Tunisia' 'Viet Nam' 'Iran (Islamic Republic of)'
 'Mexico' 'Japan' 'El Salvador' 'Bulgaria' 'Nigeria' 'South Sudan'
 'Guatemala' 'Ireland' 'Turkey' 'Peru' 'Democratic Republic of the Congo'
 'Canada' 'Switzerland' 'Denmark' 'Cameroon' 'Australia' 'Portugal'
 "Côte d'Ivoire" 'Sweden' 'Ethiopia' 'Thailand' 'Hungary' 'Kazakhstan'
 'Israel' 'Spain' 'Myanmar' 'Papua New Guinea' 'Madagascar' 'Lithuania'
 'Ghana' 'Azerbaijan' 'Armenia' 'Ukraine' 'Malaysia' 'Serbia' 'Slovakia'
 'Gambia' 'Ecuador' 'Bosnia and Herzegovina' 'Czechia' 'Argentina'
 'Dominican Republic' 'Guinea' 'Bolivia (Plurinational State of)'
 'Bangladesh' 'Sudan' 'Chile' 'Panama' 'Congo' 'Kyrgyzstan' 'Mauritius'
 'Greece' 'Malawi' 'Cuba' 'Saudi Arabia' 'Benin' 'Sierra Leone' 'Lebanon'
 'Uruguay' 'Namibia' 'Albania' nan 'Guyana' 'Senegal' 'Lesotho' 'Mongolia'
 'Venezuela (Bolivarian Republic of)' 'Solomon Islands' 'Paraguay'
 'Zimbabwe' 'Austria' 'Croatia' 'Honduras' 'Cambodia' 'Uganda'
 'Republic of Moldova' 'Angola' 'Kingdom of Eswatini' 'Afghanistan'
 'Uzbekistan' 'Zambia' 'Morocco' 'Belarus' 'Norway' 'Malta' 'Rwanda'
 'Sri Lanka' 'Botswana' 'Burundi' 'Jamaica' 'Central African Republic'
 'Kenya' 'Niger' 'Mali' 'Slovenia' 'Costa Rica' 'Nicaragua'
 'Republic of Korea' 'Burkina Faso' 'Cabo Verde' 'Mozambique' 'Mauritania'
 'Guinea-Bissau' 'United Arab Emirates' 'Eritrea' 'Tajikistan' 'Barbados'
 'Algeria' 'Iraq' 'Syrian Arab Republic' 'Gabon' 'Liberia'
 "Lao People's Democratic Republic" 'Bhutan' 'Yemen' 'Togo' 'Turkmenistan'
 'Saint Lucia' 'Kuwait' 'Libya' 'Georgia' 'Nepal' 'Estonia'
 'Trinidad and Tobago' 'Jordan' 'Cyprus' 'Montenegro' 'Comoros' 'Iceland'
 'Andorra' 'Oman' 'Equatorial Guinea' 'Luxembourg' 'Vanuatu' 'Aruba'
 'Belize' 'Qatar' 'Palau' 'Suriname' 'Singapore' 'Maldives' 'Bahrain'
 'Seychelles' 'State of Palestine' 'Saint Kitts and Nevis' 'Monaco']

In [24]:
# Find out how many countries are in the dataset
print(len(country))

176

In [25]:
# Find out how many Cities are in the dataset
city = pollution["City"].unique()
print(len(city))

23463

In [26]:
#remove nulls from data
pollution_cleaned = pollution.dropna()
pollution_cleaned

,City_ID,Country,City,AQI_Value,AQI_Category,CO_AQI_Value,CO_AQI_Category,Ozone_AQI_Value,Ozone_AQI_Category,NO2_AQI_Value,NO2_AQI_Category,PM2.5_AQI_Value,PM2.5_AQI_Category
0,1,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,5,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23458,23459,India,Gursahaiganj,184,Unhealthy,3,Good,154,Unhealthy,2,Good,184,Unhealthy
23459,23460,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good
23460,23461,India,Mormugao,50,Good,1,Good,22,Good,1,Good,50,Good
23461,23462,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate
23462,23463,Malaysia,Marang,70,Moderate,1,Good,38,Good,0,Good,70,Moderate

In [27]:
# Make City Table
AirPollutants = ['AQI_Value', 'AQI_Category', 'CO_AQI_Value', 'CO_AQI_Category', 'Ozone_AQI_Value', 'Ozone_AQI_Category', 'NO2_AQI_Value', 'NO2_AQI_Category', 'PM2.5_AQI_Value', 'PM2.5_AQI_Category']
city_table= pollution.drop(columns = AirPollutants)
city_table

       City_ID                   Country              City
0            1        Russian Federation        Praskoveya
1            2                    Brazil  Presidente Dutra
2            3                     Italy   Priolo Gargallo
3            4                    Poland         Przasnysz
4            5                    France          Punaauia
...        ...                       ...               ...
23458    23459                     India      Gursahaiganj
23459    23460                    France            Sceaux
23460    23461                     India          Mormugao
23461    23462  United States of America       Westerville
23462    23463                  Malaysia            Marang

[23463 rows x 3 columns]

In [28]:
#Save Tables to csv file
city_table.to_csv("data\City_Table.csv", index=False)
pollution_cleaned.to_csv("data\Global_Air_Pollution", index = False)

In [29]:
pollution_cleaned.drop(columns = "City")

,City_ID,Country,AQI_Value,AQI_Category,CO_AQI_Value,CO_AQI_Category,Ozone_AQI_Value,Ozone_AQI_Category,NO2_AQI_Value,NO2_AQI_Category,PM2.5_AQI_Value,PM2.5_AQI_Category
0,1,Russian Federation,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,2,Brazil,41,Good,1,Good,5,Good,1,Good,41,Good
2,3,Italy,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,4,Poland,34,Good,1,Good,34,Good,0,Good,20,Good
4,5,France,22,Good,0,Good,22,Good,0,Good,6,Good
...,...,...,...,...,...,...,...,...,...,...,...,...
23458,23459,India,184,Unhealthy,3,Good,154,Unhealthy,2,Good,184,Unhealthy
23459,23460,France,50,Good,1,Good,20,Good,5,Good,50,Good
23460,23461,India,50,Good,1,Good,22,Good,1,Good,50,Good
23461,23462,United States of America,71,Moderate,1,Good,44,Good,2,Good,71,Moderate
23462,23463,Malaysia,70,Moderate,1,Good,38,Good,0,Good,70,Moderate

In [ ]:
#group Cities with AQI Values


# Find out the cities with the most overall pollution
# AQI_values_per_city = pollution["AQI Value"].sort_values(ascending = False)
# print(AQI_values_per_city)